 .main{  

/* text-align: center; */
/* width: 800x; */
margin-left: 400px;
border: 2px solid black;
width: 600px;
}
.main h1{
    text-align: center;
}

.btn{
    text-decoration: none;
    margin-left: 320px; 
} 
